.font-1point2em {
    font-size: 1.2em!important;
}

.card-img-top {
    width: 60%!important;
    margin: 0 auto;
}

.basic-laptop-info {
    font-size: 1.1em;
    letter-spacing: 0.1rem;
}

.price {
    font-family: 'Roboto Mono', monospace!important;
    font-size: 1.2em;
}
